body {
  font-family: monospace;
  background-color: lightseagreen;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #105c57;
  height: 35px;
  margin: 10px 0;
}

nav > a {
  color: white;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px auto;
}

.transaction {
  margin: 10px;
  background-color: #105c57;
  color: white;
}

.itemInTrans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.itemInTrans > * {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: white;
  border: 1px solid #105c57;
  font-family: monospace;
}

input,
select {
  background-color: #105c57;
  color: white;
  margin: 1px 5px;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
}

button {
  margin: 10px auto;
  width: 150px;
}
