body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px auto;
}
